<div class="row" align="center">
	<div class="col-md-12">
		<h1 style="color: #D4AF37">Edit Business</h1>
	</div>
</div>

<%= render 'form', business: @business %>

<%= link_to 'Show', business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
