<p id="notice"><%= notice %></p>

<script type="text/javascript" src="http://yoursite.com/mapdata.js"></script>   
<script  type="text/javascript" src="http://yoursite.com/worldmap.js"></script>

<div class="" id="map"></div>

<%= link_to 'New Business', new_business_path %>
