<div class="row" align="center">
	<div class="col-md-12">
		<h1 style="color: #D4AF37">Register Your Business</h1>
		<p style="color: #D4AF37">Thank you for registering your business to The Black Woman Is God Stores! We hope our great community adds to your success!</p>
	</div>
</div>


<%= render 'form', business: @business %>

<%= link_to 'Back', businesses_path, class: 'btn', style: 'background-color: #D4AF37; color: black;' %>
