<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You got a new message!!</h1>
    <p>
      Login to the site and see what is says, just follow this link: <%= @url %>.
    </p>
    <p>Thanks you so much and have a great day!</p>
  </body>
</html>