<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You've made a sale!!</h1>
    <p>
      To login to the site and check out your product, just follow this link: <%= @url %>.
    </p>
    <p>Thanks you so much and have a great day!</p>
  </body>
</html>