<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your order has been shipped!</h1>
    <p>
      To login to the site and check out your order details, just follow this link: <%= @url %>.
    </p>
    <p>Thanks you so much and have a great day!</p>
  </body>
</html>