<p id="notice"><%= notice %></p>

<h1>Business Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @business_categories.each do |business_category| %>
      <tr>

        <td><%= link_to(business_category.name, business_category) %></td>
        

      </tr>
    <% end %>
  </tbody>
</table>

<br>

