<div class="row" align="center">
	<h1>
		All Conversations
	</h1>
</div>
<div class="row">
	<div class="col-md-12 center" align="center" style="background-color: lavender; border-radius: 10px">
	<% @conversations.each do |conversation| %>
		<div style="margin-top: 5px; margin-bottom: 5px">
			<strong>Subject:</strong> <%= link_to conversation.subject, conversation_path(conversation) %>
		</div>
	<% end %>

	
	</div>


</div>
<div class="row" align="center" style="margin-top: 3%">
	<%= link_to "New Conversation", new_conversation_path %>
</div>
