<div align="center" style="color: #D4AF37; margin: 2%">
	<h2><strong>Place Your Order For:</strong><br> <%= @product.title %></h2>
</div>




<%= render 'form' %>

<%= link_to 'Back', product_orders_path(@product) %>