<div class="row" style="margin-top: 5% ">
	<div class="col-md-12" align="center">
		<h1>Contact Us</h1>
	</div>
</div>
<p><strong>Email:</strong> Theblackwomanisgodstores@gmail.com</p>
<p><strong>Address:</strong> 340 S LEMON AVE #2792 WALNUT, CA 91789</p>

