<%= form_tag subscriber_path(1), method: :put do %>

<span style="font-size: 20px"><strong> $49.99 per month, to cancel please email Theblackwomenisgodstores@gmail.com.</strong></span><br><br>
<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A monthly Subscription To TBWIG Stores"
          data-amount="1999"
          data-label="Sign Me Up!"
		  data-name="The Black Women is God Stores"
		  data-billing-address="true"
		  data-zip-code="true"
		  data-locale="auto"
          >
</script>




<% end %>       