<%= form_tag subscriber_path(1), method: :put do %>


<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="4999">
          	
</script>
<span> $49.99 per month, to cancel please email Theblackwomenisgodstores@gmail.com.</span>
<% end %>       