/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= stub "active_admin"
 */


#map{
  width: 80%;
  height: 80%;
}

#flash_notice{
  background-color: black !important;
  padding: 10px;
  font-size: 15px;
  border-color: rgba(212,175,55, 0.3);
  border-style: solid;;
  border-width: 0.9px;
}

#flash_alert{
  background-color: black !important;
  padding: 10px;
  font-size: 15px;
  border-color: rgba(212,175,55, 0.3);
  border-style: solid;;
  border-width: 0.9px;
}

#profile_pic{
  border-radius: 5px;
  // border-style: solid;
  // border-color: black;
  width: 250px;
  height: auto;
}

#conversation-body {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 2em;
}

#condition{
  color: black
}

body {
  // font-family: 'Play', sans-serif;
  // font-family: 'Squada One', cursive;
  // font-family: 'Monoton', cursive;
  // font-family: 'Gugi', cursive;
  // font-family: 'Iceland', cursive;
  // font-family: 'Open Sans', sans-serif;
  font-family: 'Titillium Web', sans-serif;
  font-size: 15px;
  // font-family: 'Major Mono Display', monospace;
  font-weight: bold;
  // font-family: 'Text Me One', sans-serif;
  background-color: black;
  color: white;
}

.dropdown-menu{
  background-color: black;

}

.nav{
  font-size: 15px;
}

.page-link{
  color: white !important;
  background-color: #D4AF37 !important;
}

.toplogo{
  height: 150px;
  width: 180px; 
}

#catrow{
  color: #D4AF37;
  font-size: 17px;
  border-radius: 10px;
  border-style: solid;
  border-color: #D4AF37;
  border-width: 3px;
  padding: 1%;
  margin-bottom: 10%;

}

a:hover { 
  background-color: rgba(212,175,55, 0);;

}

#pro_business{
  background-color: rgba(212,175,55, 0.9);;
}


.business_table{
  font-size: 15px;
  color: #D4AF37; 
  opacity: 0.7
}

.business_table:hover{
  opacity: 0.9
}

.thumbnail{

  background-color: black;
  // background-color: #D4AF37;
  // background-image: url("https://s3.us-east-2.amazonaws.com/ypmarketnew/assets/bacground1440.png");
  border-color: rgba(212,175,55, 0.3);
  border-width: 0.1px;
  border-style: solid;
  border-radius: 10px;
  margin-top: 3%;
  width: 100%;
  height: 60% !important;

}
.thumbnail:hover{
  border-color: rgba(212,175,55, 0.9)
}

#t_backdrop{
   // height: 60% !important
}

#thumbs{
  height: 90%;
  width: 100% !important;
  border-radius: 5px;
  
}

#prod_row{
  margin-top: 5%;
}

#pic_row{
  margin-top: 0%;
  margin-bottom: 10%;
}

.rev{
  color: #D4AF37
}

.rev_c{
  color: #D4AF37
}

#review_dis{
  background-color: black;
  padding: 10px;
  margin-top: 1.5%;
  color: #D4AF37;
  border-radius: 10px
}

#review_row{
  background-color: black;
  padding: 10px;
  margin-top: 5%;
  border-radius: 10px;
}

.navbar {
  background-color: black;
  width: 100%;
  color: black;
  border: none;
  margin-top: 0%;
}

.navaboutpic{
  width: 100px;
  height: 100px;
}

.navsigninpic{
    width: 100px;
  height: 100px;
}

.navsignuppic{
      width: 100px;
  height: 100px;
}

.navcontactpic{
  width: 100px;
  height: 100px;
}

.navhomepic{
  width: 100px;
  height: 100px;
}

.navbizpic{
  width: 100px;
  height: 100px;
}

.navstorepic{
  width: 100px;
  height: 100px;
}

#nav_ops{
  margin-top: 1.4%;
}

#signup{
  background-color: #D4AF37;
  border-radius: 25px;
  margin-bottom: 30px;
  margin-top: 4%;
  padding: 30px;
  background-opacity: 0.35;
  color: black;
}

#login{
  background-color: #D4AF37;
  border-radius: 25px;
  padding: 5%;
  background-opacity: 0.35;
  width: 75%;
  color: black
}

#edit{
  background-color: #D4AF37;
  border-radius: 25px;
  margin:10%;
  padding: 3%;
  background-opacity: 0.35;

  color: black
}

@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body {
    -webkit-font-smoothing: antialiased;
}

._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-instagram {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-instagram:hover {
    background-color: pink;
}
.fa-google-plus {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-google-plus:hover {
    background-color: #e25714;
}

// TABLES

@media only screen and (max-width: 800px) {
    
    /* Force table to not be like tables anymore */
  #no-more-tables table, 
  #no-more-tables thead, 
  #no-more-tables tbody, 
  #no-more-tables th, 
  #no-more-tables td, 
  #no-more-tables tr { 
    display: block; 
  }
 
  /* Hide table headers (but not display: none;, for accessibility) */
  #no-more-tables thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
 
  #no-more-tables tr { border: 1px solid #ccc; }
 
  #no-more-tables td { 
    /* Behave  like a "row" */
    border: none;
    margin: 10px;
    position: relative;
    white-space: normal;
    text-align:left;
  }
 
  #no-more-tables td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
    text-align:left;
    font-weight: bold;
  }
 
  /*
  Label the data
  */
  #no-more-tables td:before { content: attr(data-title); }
}