/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
// @import "bootstrap";



@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Open+Sans:400,700');

// font-family: 'Gentium Book Basic', serif;
// font-family: 'Open Sans', sans-serif;

.jumbotron{
    background: url("https://s3.us-east-2.amazonaws.com/marketnew/products/images/000/000/assets/logo.png") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 70% 100%;
    height: 380px;
    width: 100%

}
// * {
//  box-sizing: border-box;
//  list-style: none;
// }

// .width-large {
//   width: 98%;
// }

// body {
//   background-color: white;
//   font-family: 'Open Sans', sans-serif;
// }

// .bg-white {
//   background-color: #FFF;
// }

// .bg-green {
//   background-color: #49DA90;
// }

// .font-white {
//   color: white;
// }

// .btn-blue {
//   background-color: #00BFD8;
// }

// .font-heading {
//   font-family: 'Gentium Book Basic', serif;
// }

// .font-body {
//   font-family: 'Open Sans', sans-serif;
// }

// .font-medium {
//   font-size: 1.5em;
// }

// .font-medium {
//   font-size: 1.2em;
// }

// // .border-grey {
// //   margin: 10% auto;
// //   padding: 5%;
// //   border: 1px solid lightgrey;
// // }


// /********** NAVBAR **********/

.navlogo{
  height: 30%;
  width: 30%; 
}

.navbar {
  background-color: white;
  color: black;
  border: none;
  margin-top: 0.5%;
}

#nav_ops{
  margin-top: 1.4%;
}

// /********** HOMEPAGE **********/

// .product-overview-image {
//   max-width: 90%;
// }

// .your-price {
//   font-size: 1.2em;
// }

// .rrp {
//   text-decoration: line-through;
// }

// /********** PROFILE **********/
// .image-cropper {
//     width: 150px;
//     height: 150px;
//     position: relative;
//     overflow: hidden;
//     border-radius: 50%;
// }

// .profile-pic {
//   display: inline;
//   margin: 0 auto;
//   margin-left: -25%; //centers the image
//   height: 100%;
//   width: auto;
// }

// /********** MESSAGES **********/

// #profile-chat-list-item {
//   padding: 5px;
//   margin: 20px;
// }

// #profile-chat-list-item a {
//   color: #611D59;
// }

// .panel-heading a {
//   color: #611D59;
// }

// #conversation-list-item {
//   margin: 20px;
//   padding: 1em 2em;
//   border-radius: 10px;
// }

// .message-from-me {
//   background-color: #00BFD8;
//   color: white;
// }

// .message-from-other {
//   background-color: #49DA90;
//   color: white;
// }

// .message-sender-username {
//   font-size: 0.7em;
//   color: black;
// }

// .message-body {

// }
