/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= stub "active_admin"
 */



#map{
  width: 60%;
  height: 60%;
}

#profile_pic{
  border-radius: 50%;
  border-style: solid;
  border-color: black;
}

body {
  font-family: 'Quicksand', sans-serif;
}

.toplogo{
  height: 5%;
  width: 5%; 
}

a:hover { 
    background-color: lavender;
}

#pro_business{
  background-color: rgba(80, 14, 107, 0.9);
}

#thumbnail_p{
  padding: 4%;

}

#prod_row{
  background-color: rgba(80, 14, 107, 0.9);
  margin-top: 5%;
  border-radius: 10px;

}

#pic_row{
  margin-top: 3%;
}

#review_dis{
  background-color: lavender;
  padding: 10px;
  margin-top: 1.5%;
  margin-left: 2%;
}

#review_row{
  background-color: lavender;
  padding: 10px;
  margin-top: 5%;
  border-radius: 10px;
}

.navbar {
  background-color: white;
  color: black;
  border: none;
  margin-top: 1%;
}

#nav_ops{
  margin-top: 1.4%;
}

.promo_b{
  height: 91.5px !important;
  width: 98%
}

.promo_a{
  height: 91.5px !important;
  width: 98%
}

#signup{
  background-color: lavender;
  border-radius: 25px;
  padding-left: 40px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
  margin-top: 4%;
  padding: 30px;
  background-opacity: 0.35;
  z-index: -100;
  width: 500px;
}

#login{
  background-color: lavender;
  border-radius: 25px;
  padding-left: 40px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 4%;
  padding: 30px;
  background-opacity: 0.35;
  z-index: -100;
  width: 500px;
}

#edit{
  background-color: lavender;
  border-radius: 25px;
  padding-left: 40px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 30px;
  background-opacity: 0.35;
  z-index: -100;
}

.jumbotron{
    background: url("https://s3.us-east-2.amazonaws.com/ypmarketnew/assets/logo.png") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 70% 100%;
    height: 380px;
    width: 100%

}

@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body {
    -webkit-font-smoothing: antialiased;
}

._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-instagram {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-instagram:hover {
    background-color: pink;
}
.fa-google-plus {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-google-plus:hover {
    background-color: #e25714;
}