<div class="row center">
	<%= search_form_for @q, html: { class: "form-group" } do |f| %>
		<div class="col-md-8 offset-md-3" style="margin-left: 15%">
			
			
			<%= f.search_field :title_or_description_cont, class: "form-control", placeholder: "Search..." %>

			
		
		</div>
		<div >
			<%= submit_tag 'Search', name: nil, class: 'btn btn-primary' %>
		</div>
	<% end %>

</div>
	
	
	
