	<%= search_form_for @q, html: { class: "form-group" } do |f| %>
		
		<div class="col-md-9 center" style="margin-left: 4%; margin-bottom: 5%" >
			<%= f.search_field :title_or_description_cont, class: "form-control", placeholder: "Search..." %>
		</div>

		<div  style="margin-left: 4%; margin-right: 1%">
			<%= submit_tag 'Search', name: nil, class: 'btn btn-primary', id: "search_sub", style: "background-color: #D4AF37; color: black;" %>
		</div>		
			
		
	<% end %>

	
	
