<fieldset>
	<div class="col-md-3">
		<%= form.label :size %><br><br>
  		<%= form.select :size, ["Infant/New Born", "0-6 Months","Toddler", "X-SMALL", "SMALL", "MEDIUM", "LARGE", "X-LARGE", "XX-LARGE", "XXX-LARGE"], class: "form-control" %>
	</div>

	<div>
		<%= form.hidden_field :_destroy %>
  		<%= link_to "remove", '#', class: "remove_fields" %>
	</div>

</fieldset>