<fieldset>
	<div class="col-md-3">
		<%= f.label :size %><br><br>
  		<%= f.select :size, ["Infant/New Born", "0-6 Months","Toddler", "X-SMALL", "SMALL", "MEDIUM", "LARGE", "X-LARGE", "XX-LARGE", "XXX-LARGE"], class: "form-control" %>
  		<%= link_to_remove_association "Remove Size", f, class: "btn btn-danger" %>
	</div>


</fieldset>