<div class="form-group">
	<%= simple_form_for([@product, @product.reviews.build]) do |f| %>
		<h4 style="color: #D4AF37">How Many Stars: </h4>
		<div style="margin-bottom: 20px; color: black; font-size: 20px">
			<%= f.select :rating, [1,2,3,4,5], :class => "rev_c", :style => "width: 20px"%>
		</div>

		<div style="margin-bottom: 15px; color: #D4AF37; width: 150px">
			<%= f.input :comment  %>
		</div>
		
		<br>
		
		<br>
		<%= f.button :submit, :class => "btn", :style => "background-color: #D4AF37; color: black;"%>
	<% end %>
</div>

	<script>
		$('#star-rating').raty({
			path: '/assets'
			scoreName: 'review[rating]'
		});
	</script>


