<div class="form-group">
	<%= simple_form_for([@product, @product.reviews.build]) do |f| %>
		How Many Stars: <%= f.select :rating, [1,2,3,4,5], :class => "form-control"%>
		<br>
		<%= f.input :comment, :class => "form-control" %>
		<br>
		<%= f.button :submit, :class => "btn btn-primary"%>
	<% end %>
</div>

	<script>
		$('#star-rating').raty({
			path: '/assets'
			scoreName: 'review[rating]'
		});
	</script>


