<div class="center" align="center" style="border-style: solid; border-color: black; border-radius: 10px; border-width: 0.5px; margin-top: 2%; padding: 2%">
	
	<div class="review-rating" data-score= <%= review.rating %> style= "margin-top: 1.5%"></div>
	<strong><h5>Comment:</h5></strong>
	<p><%= review.user.try(:username) %></p>
	<p><%= review.comment %></p>
</div>

